html,
body,
main,
#main_cover,
#main_body {
}

html{
    height: 100%;
}

body {
    font-weight: regular;
    font-size:1.1em !important;
    font-family: "Quicksand", sans-serif;
    background:linear-gradient(45deg, #e4f4f6, #fff);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    background-size: cover;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari *
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
p {
    color: #013f69;
}
a,
small {
    font-weight: 600;
    color: #001422;
}
.typ_content {
    color: #373b44;
}
button{
    font-weight: 400;
}
.handy{
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    color: #007094;
    line-height: .7em;
}

body{
    background: linear-gradient(to bottom, #e9eaea, #f7f8f8) !important;
    color: #005f84;
    /* background: linear-gradient(to bottom, #005f84, #00234f) !important; */
}


input.sms-code {
    font-size: 2em !important;
    text-align: center;
    letter-spacing: 20px;
}

#summary_row {

}

#summary_row .summary_header {
    padding: 0px;
    /* margin: 10px; */
    background: #ccc;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    text-align: center;
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}

#summary_row .summary_total {
    background: linear-gradient(0deg, #019945, #016f74);
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.payment_option_box{
    height: 110px;
    margin: auto;
    text-align: center;
    color: #005f84;
    border: 1px solid #005f841c;
    border-top: none;
}
.payment_option_box div.box-content{
    padding:10%;   
}

.payment_option_box div.box-content img{
    text-align: center;
    height: 35px;
}

#total_to_pay{
    border: 2px solid #005f841c;
    margin: 15px 10% 0 10%;
    padding: 9px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #005f84;
    border-radius: 15px;
    background: #faf9f9;
}