/* FIXes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
/* */

.footer {
    height: 40px;
    line-height: 34px;
    background: linear-gradient(to bottom, #2f7a93, #164167) !important;
    text-align: center;
    padding: 5px;
}
.footer-menu-item {
    display: block;
    width: 70%;
}

.fast-pay {
    display: grid;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 6px solid #f5f6f6;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background: linear-gradient(
        -230deg,
        rgba(0, 152, 68),
        rgba(0, 152, 68),
        rgba(1, 80, 151)
        );
    place-content: center;
    margin: auto;
}

#loader {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loader::after {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 80px;
    height: 80px;
    border-style: solid;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid #f5f5f5;
    /*    border-top-color:transparent;*/
    border-width: 4px;
    /*    border-radius:50%; */
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loader {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

.loader:after {
    content: " ";
    border: 16px solid #f3f3f3;
    border-radius: 6%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid #f5f5f5;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 100;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#main_head {
    /* background: #02235e;
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1; */
}

.login_menu{
    background:linear-gradient(to bottom, #2f7a93, #164167) !important;
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.header_menu {
    align-items: center;
    display: flex;
    height: 50px;
}

#main_head .app_logo {
    margin: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(312deg, #33768c, #164167) !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
}

.closebtn img {
    height:45px !important;
}

.app_logo img {
    height: 100px;
}

#main_nav_top {
    background: linear-gradient(to right, #373b44, #005baa);
}
#main_logo {
    filter: drop-shadow(0px 2px 10px #002652);
    height: 23px;
    margin-top:12px;
    /* padding: 0px; */
}

#login_logo{
    height: 150px;
}

.btn {
    border-color: #666;
    border-color: #adb5bd;
    width: 100%;
}
.btn img {
    float: left;
}

.btn-info {
    background: #148664;
    border-color: #377772;
}
.btn-success {
    background: linear-gradient(to right, #374439, #28a745);
}

.btn-white {
    background: #fff;
    color: #666;
}

.container {
    padding: 0px !important;
}

#main_cover {
    height: inherit;
    color: #00678c;
    padding-top: 50px;
}

div#main_body {
    /* padding: 10px; */
    /* margin-top: 60px; */
}

.navbar-toggler {
    background: #fff;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.3rem;
    font-size: 1.5rem;
}

legend {
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
#view_dahsboard {
    text-align: center;
    padding-top: 25px;
}
#view_dahsboard button {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

img.bicon {
    vertical-align: sub;
    filter: invert(1);
    height: 25px;
    /* text-align: left; */
}

img.bicon-dark {
    vertical-align: sub;
    height: 25px;
    /* text-align: left; */
}

img.bicon-blue {
    filter:invert(0.4) sepia(260) saturate(100) hue-rotate(-169deg);
    height: 25px;
}

.input-group-text {
    border: 1px solid #ced4da;
    color: #00678c;
}

.input-group-text img.bicon {
    filter: invert(1) drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

input.form-control {
    background: transparent;
    border-width: 2px;
    border-color: #b4ced8;
    border-left: none;
}

/* cards */
.card {
    background-color: #fff;
    border-radius: 15px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: radial-gradient(
        40% 15% at top,
        #137da1 142%,
        #005179 154%,
        #005279 29%
        );
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

/* Transaction */

#transactionlist_tabs{

}
#transactionlist_tabs li.nav-item{
    width: 50%;
}
#transactionlist_tabs li a {
    color: #006389;
    background: #e0dddd;
}
#transactionlist_tabs li a.active {
    background: #006389;
    color: #fff;
}

.transactionlist div div {
    background: #0658a014;
    border-bottom: 1px solid #ccf;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.card h2 {
    font-weight: 300;
}

.typ_content {
    text-align: center;
    color: #373b44;
}

.typ_content h2 {
    font-weight: lighter;
}

div.alert {
    border-radius: 0;
}

div.alert-danger {
    background: #cc2727cf;
    border: none;
    color: #fff;
    padding: 22px 9px;
}
div.alert-warning {
    background: #e4a01bcf;
    border: none;
    color: #fff;
    padding: 22px 9px;
}
div.alert-success {
    background: #208510cf;
    border: none;
    color: #fff;
    padding: 22px 9px;
}
div.alert-info {
    background: #007094cf;
    border: none;
    color: #fff;
    padding: 22px 9px;
}

div.alert img.bicon {
    height: 35px;
    margin-right: 15px;
    float: left;
}

.fullpage_alert {
    color: #fff;
    padding: 25px;
    text-align: center;
    padding-top: 35px;
}
.fullpage_alert h2 {
    margin: 20px 10px;
    color: #fff;
    font-weight: bold;
}

.fullpage_alert div#alert_view_body {
    color: #fff;
}

.fullpage_alert button.btn-info {
    background: #148664;
    border-color: #377772;
}

.fullpage_alert_error {
    background: linear-gradient(to top, #b30f0f 53%, #e5f5f7 95%);
}

.fullpage_alert_warning {
    background: linear-gradient(to top, #d8d21a 53%, #ebecec 95%);
    color: #333;
}

.fullpage_alert_info {
    background: linear-gradient(to top, #8dbfcf 51%, #eceded 97%);
    color: #113;
}

.fullpage_alert_success {
    background: linear-gradient(312deg, #33768c, #164167) !important;
    color: #fff;
}

.fullpage_alert img.fullpage_alert_icon {
    width: 100px;
    height: 100px;
    float: none;
}

#error_view {
    background: #e7464c;
}

.checkbox_list {
    padding: 10px;
}

/* BK */

.spacing_10 {
    margin: 10% 0%;
}

.spacing_5 {
    margin: 5% 0%;
}

.center_text {
    text-align: center;
}

.height_100 {
    height: 100%;
}

.margin_auto {
    margin: auto;
}

.fileupload {
}
#installmentbutton {
    border: 1px solid #cbd6dc;
    color: #00668a;
    border-bottom: 0;
    border-radius: 5px
}

body.viewregisternewcustomersuccess{
    background: linear-gradient(to right, #164267, #225877) !important;
}

div#block_title {
    border: 2px solid #005f841c;
    margin: 15px 5% 0 5%;
    padding: 9px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #005f84;
    border-radius: 15px;
    background: #faf9f9;
}